{% extends "home.html" %}

{% block content %}
  <h1>All cases</h1>

    <p>
      Status: <strong><em><span style="color:red;">New record successfully added!</span></em></strong>
  </p>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Case Number</th>
                <th>Person Name</th>
                <th>Identity Document Number</th>
                <th>Date of birth</th>
                <th>Date of Onset</th>
                <th>Date Case Confirmed</th>
            </tr>
        </thead>
        <tbody>
            {% for case in cases %}
                <tr>
                    <td>{{ case.case_number }}</td>
                    <td>{{ case.person_name }}</td>
                    <td>{{ case.id_number }}</td>
                    <td>{{ case.birth_date }}</td>
                    <td>{{ case.symptoms_date }}</td>
                    <td>{{ case.confirmation_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
