<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">SSE Finder</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Case records
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'Create_record' %}">Create record</a></li>
          <li><a href="{% url 'Case_query' %}">Case query</a></li>
          <li><a href="{% url 'Create_attendance' %}">Create attendance</a></li>
          <li><a href="{% url 'All_cases' %}">All cases</a></li>
        </ul>
        </li>
        <li><a href="{% url 'SSE_Finder' %}">SSE Finder</a></li>
      </ul>
  </div>
  </nav>

      <div class="container">
      {% block content %}{% endblock %}
      </div>


    <div style="position: absolute; bottom: 5px; left: 5px;">
    COMP3297 2020-2021 Sem 2 Group Project by Group F
    </div>
</body>
</html>
