{% extends "base.html" %}

{% block content %}
  </br>
  <h1>Case query</h1>
  </br>

    <p>
      System status: <strong><em><span style="color:red;">{{ status }}</span></em></strong>
    </p>

        <form>{% csrf_token %}
                        <div class="input-group">
                            <input name="q" type="text" placeholder="Search" class="form-control form-control-lg" />
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-lg">Search</button>
                            </div>
                        </div>
                    </form>
    </br>
<p>
      <strong><em><span style="color:red;">{{ message }}</span></em></strong>
  </p>
        <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Case Number</th>
                <th>Person Name</th>
                <th>Identity Document Number</th>
                <th>Date of birth</th>
                <th>Date of Onset</th>
                <th>Date Case Confirmed</th>
            </tr>
        </thead>
        <tbody>
                        {% for case in cases %}

                <tr>
                    <td>{{ case.case_number }}</td>
                    <td>{{ case.person_name }}</td>
                    <td>{{ case.id_number }}</td>
                    <td>{{ case.birth_date }}</td>
                    <td>{{ case.symptoms_date }}</td>
                    <td>{{ case.confirmation_date }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
