{% extends "base.html" %}

{% block content %}
  </br>
  <h1>Case query</h1>
  </br>

      <p>
      System status: <strong><em><span style="color:red;">{{ message }}</span></em></strong>
  </p>

        <form method="POST"> {% csrf_token %}
            <select name="case_number">
                {% for case in cases %}
                    <option value="{{ case.case_number }}">
                        {{ case.case_number }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Select">
        </form>

        <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Case Number</th>
                <th>Person Name</th>
                <th>Identity Document Number</th>
                <th>Date of birth</th>
                <th>Date of Onset</th>
                <th>Date Case Confirmed</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ target_case.case_number }}</td>
                    <td>{{ target_case.person_name }}</td>
                    <td>{{ target_case.id_number }}</td>
                    <td>{{ target_case.birth_date }}</td>
                    <td>{{ target_case.symptoms_date }}</td>
                    <td>{{ target_case.confirmation_date }}</td>
                </tr>
        </tbody>
    </table>

{% endblock %}