{% extends "base.html" %}

{% block content %}
  </br>
  <h1>Create attendance</h1>
  </br>
    <p>
      <strong>Please supply a case number for the attendance record:</strong>
    </p>
        <form>{% csrf_token %}
                        <div class="input-group">
                            <input name="q" type="text" placeholder="Search" class="form-control form-control-lg" />
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-lg">Search</button>
                            </div>
                        </div>
                    </form>
    </br>
    <hr>
    <p>
      Selection status: <strong><em><span style="color:red;">{{ status }}</span></em></strong>
    </p>
    <p>
      Selected case: <strong><em><span style="color:red;">{{ Selected }}</span></em></strong>
    </p>
    </br>
    <p>
      <strong>Input details to create new attendance record:</strong>
    </p>
        <form action="" method="POST">
{#    {% csrf_token %}#}
    <div class="form-group">
        <div class="form-group col-md-6">

            {{ form }}
        <br>
            <input class="btn btn-success" type="submit" value="Create" />
        </div>
    </div>
</form>

{% endblock %}
