

{% extends "base.html" %}

{% block content %}
    </br>

  <h1>Home page</h1>
  <p><em>Welcome</em>! This application is made for retrieving coronavirus data from specified location. </p>
    <hr>

    <h2>Search & Filter</h2>
    <p>Pick the location you want to search for</p>
    <p>(More filtering options coming in future versions)</p>
  <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
    <tr>
        <th scope="row">Location : </th>
        <td><form method="POST"> {% csrf_token %}
            <select name="location">
                {% for location in locations %}
                    <option value="{{ location.name }}">
                        {{ location.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Select">
        </form>
        </td>
    </tr>
  </table>

    </br>

  <p>
      Selected location: <strong><em><span style="color:red;">{{ selected_region }}</span></em></strong>
  </p>


    <hr>



  <h2>Query result</h2>
  <p>Data retrieval status : <strong><em><span style="color:red;">{{ data_status }}</span></em></strong></p>

   <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
    <tr>
        <th scope="row">Name of Location</th>
        <td>{{ location_name }}</td>
    </tr>
    <tr>
        <th scope="row">Date for the information shown</th>
        <td>As of  {{ location_date }}</td>
    </tr>
    <tr>
        <th scope="row">Total number of confirmed cases</th>
        <td>{{ location_confirmed_total }}</td>
    </tr>
   <tr>
        <th scope="row">Total number of confirmed cases per million of population</th>
        <td>{{ location_confirmed_total_perMil }}</td>
    </tr>
   <tr>
        <th scope="row">Total number of fatalities</th>
        <td>{{ location_fatalities_total }}</td>
    </tr>
   <tr>
        <th scope="row">Total number of fatalities per million of population</th>
        <td>{{ location_fatalities_total_perMil }}</td>
    </tr>
   <tr>
        <th scope="row">Number of new cases for that day</th>
        <td>{{ location_new }}</td>
    </tr>
   <tr>
        <th scope="row">7-day average number of new cases</th>
        <td>{{ location_new_WeekAvg }}</td>
    </tr>
   <tr>
        <th scope="row">Number of new fatalities for that day</th>
        <td>{{ location_fatalities_new }}</td>
    </tr>
   <tr>
        <th scope="row">7-day average number of new fatalities</th>
        <td>{{ location_fatalities_new_WeekAvg }}</td>
    </tr>
  </table>


{% endblock %}
