{% extends "base.html" %}

{% block content %}

  <h1>Welcome to SSE Finder</h1>
  </br>
    <h2>How to use:</h2>
<ol class="circle-list">
    <li><a href="">List item</a></li>
    <li><a href="">List item</a></li>
    <li><a href="">List item</a>
      <ol>
        <li><a href="">List sub item</a></li>
        <li><a href="">List sub item</a></li>
        <li><a href="">List sub item</a></li>
      </ol>
    </li>
    <li><a href="">List item</a></li>
    <li><a href="">List item</a></li>
  </ol>

{% endblock %}