{% extends "base.html" %}

{% block content %}

  <h1>Welcome to SSE Finder</h1>
  </br>
  <h2>How to use:</h2>
  <ol>
    <li>Create record<ol>
        <li><a href="">EXPLAINATION</a></li>
      </ol></li>
    <li>Case query<ol>
        <li><a href="">EXPLAINATION</a></li>
      </ol></li>
      <li>Create attendance<ol>
        <li><a href="">EXPLAINATION</a></li>
      </ol></li>
      <li>All cases<ol>
        <li><a href="">EXPLAINATION</a></li>
      </ol></li>
      <li>SSE Finder<ol>
        <li><a href="">EXPLAINATION</a></li>
      </ol></li>
    <li>SSE Finder<ol>
        <li><a href="">EXPLAINATION</a></li>
      </ol></li>
  </ol>

{% endblock %}
