{% extends "base.html" %}

{% block content %}
  <h1>SSE query</h1>
  </br>


    <p>
      SSE of venue selected: <strong><em><span style="color:red;">{{ Selected }}</span></em></strong>
    </p>

       <p>
      Results: <strong><em><span style="color:red;">{{ result }}</span></em></strong>
    </p>

    <h2>Details: </h2>


    </br>

<tbody>
            {% if d %}
            {% for i in d %}
                <tr>
                    <td>{{ i.Case_Involved }}</td>
                        <td>{{ i.Event_details }}</td>
                        <td>{{ i.Classification_of_case }}</td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>

    <hr>
    <h2>Search for other cases:</h2>
<div style="display: none;">
           <form>{% csrf_token %}
                        <div class="input-group">
                            <input name="q" type="text" placeholder="Search" class="form-control form-control-lg" />
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-lg">Search</button>
                            </div>
                        </div>
                    </form>
    </div>

{% endblock %}
